<header>
  <%= link_to '/' do %>
    <%= image_tag '' %>
  <% end %>

  <nav>
    <%= link_to project_activities_path do %>
      <strong><%= @project.name %></strong>
    <% end %>
  </nav>
</header>