<%
  date = local_assigns[:date]
  is_red_day = local_assigns[:is_red_day]
%>
<% class_name = today?(date) ?
  "record-header-today"
: is_red_day || is_weekend?(date) ?
  "record-header-off"
: nil
%>

<th class="record-header <%= class_name %>">
  <div><%= t("days.#{date.strftime("%a").downcase}") %></div>
  <div><%= date.day %></div>
</th>
