<% date = local_assigns[:date] %>
<% class_name = today?(date) ?
  "record-header-today"
: day_off?(date) ?
  "record-header-off"
: nil
%>

<th class="record-header <%= class_name %>">
  <div><%= t("days.#{date.strftime("%a").downcase}") %></div>
  <div><%= date.day %></div>
</th>
