/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
}

.records,
.records tbody {
  border-spacing: 0;
}

.record-header,
.record {
  width: 46px;
  height: 46px;
}

.record-header-name,
.record-name {
  min-width: 320px; /* w-80px */
}

.record-name {
  padding: 0 10px;
}

.record-header {
  vertical-align: middle;
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 46px;
  min-height: 46px;
  max-height: 46px;
}
.record-header-off {
  background-color: rgb(170, 170, 170);
}
.record-header-today {
  background-color: palevioletred;
  color: white;
}

.record a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #666;
  transition: background-color 0.5s;
}
.record a:hover,
.record a:focus {
  background-color: paleturquoise;
  transition: background-color 0.5s;
}
.record:not(.record-started) a:hover::after,
.record:not(.record-started) a:focus::after {
  content: "+";
}

.record-empty {
  background-color: ghostwhite;
  border: 1px solid white;
}
.record-off {
  background-color: #ccc;
  border: 1px solid transparent;
}
.record-started {
  background-color: palegoldenrod;
  border: 1px solid palegoldenrod;
}
.record-finished {
  background-color: palegreen;
  border: 1px solid palegreen;
}