/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.records th:not(:first-child),
.records td:not(:first-child) {
  width: 36px;
  height: 36px;
}

.records td:not(:first-child) a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: ghostwhite;
  transition: background-color 0.5s;
}

.records td:not(:first-child) a:hover {
  background-color: gray;
  transition: background-color 0.5s;
}
.records td:not(:first-child) a:hover::after {
  content: "+";
}

.records .record-today {
  background-color: #ad3d41;
  color: white;
}