<h1>Activities</h1>

<span>Project plan</span>
<span><%= @project.start_date %> - <%= @project.planned_end_date %></span>

<span style="background: green; color:white;">
  <%= link_to 'New', new_project_activity_path %>
</span>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Contractor</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render @project.activities %>
  </tbody>
</table>